html { height: 100%; }
body { font-family: "Abel"; height: 100%; margin: 0; padding: 0; }
a { color: #fff;text-decoration: none; }

/* **********************  COMPUTER STYLE ********************** */

.bodydesktop{
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	min-height:100%;
  font-size: 100%;
}

/* **********  PAGE TEMPLATE  ********** */

.update{
  position: relative; 
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fakepadding_top {
  position: relative;
  background:rgba(0,0,0,0.7);
  margin-top: 70px;
  margin-left: 130px;
  margin-right: 130px;
  height: 20px;
}

.fakepadding_bottom {
  position: relative;
  background:rgba(0,0,0,0.7);
  margin-left: 130px;
  margin-right: 130px;
  height: 20px;
}

.wrapperContent{
  height: 70%;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: 130px;
  margin-right: 130px;
  background:rgba(0,0,0,0.7);
}

.content{
  height: 100%;
  padding-left: 20px;
  padding-right: 30px; 
  overflow: auto;
  width: 98%;
  text-align: justify;
  font-size: 1.8em;
  line-height:1.5em;
}

.infoText{
  margin: 0 auto;
  width: 50%;
  height: 50%;
  font-family: "Amatic SC";
  font-size: 1em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}

/***********  MENU ********** */

.menufooter {
  position: relative;
  text-transform:uppercase;
  margin: 4px 0px 0px 130px;
  background:rgba(0,0,0,0);
}

.textmenufooter{
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  padding: 5px 40px 5px 40px;
  color: #000000;
}

.customlink {
  color: #BB575F;
}

/***********  PAGE MESSAGES(index) ********** */

.textbox{
  word-spacing: normal;
  letter-spacing: 1px;
  text-transform:uppercase;
  -webkit-text-size-adjust:none;
  word-wrap: break-word;
  font-size: 1.3em;
}

.date{
  font-size: 0.8em; 
}

/* **********  PAGE MAP ********** */

#map_canvas { 
  height: 100%; 
  width: 100%;
}

/***********  PAGE INFO ********** */

.info {
  margin: 0 auto;
  width: 50%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
}

.stickers {
  padding: 75px 0 0 0;
  font-size: 0.9em;
}

/***********  PAGE ARTWORKS ********** */

.gallery{
  float: left;
}

.artwork{
  margin: 5px 5px 5px 5px;
  width: 400px;
  height: 400px%;
}



