.With_Font_Box{
  font-family: "Amatic SC";
}

/* Twenty new colors */
.Color_1{
	color: #d480ff;
}
.Color_2{
	color: #eaff80;
}
.Color_3{
	color: #ffd480;
}
.Color_4{
	color: #ff9580;
}
.Color_5{
	color: #ff80aa;
}
.Color_6{
	color: #ff80ea;
}
.Color_7{
	color: #9580ff;
}
.Color_8{
	color: #80aaff;
}
.Color_9{
	color: #aaff80;
}
.Color_10{
	color: #80ff9b;
}
.Color_11{
	color: #ff5f5f;
}
.Color_12{
	color: #ffc85f;
}
.Color_13{
	color: #ff5f8c;
}
.Color_14{
	color: #ce9fff;
}
.Color_15{
	color: #d098ff;
}
.Color_16{
	color: #ffa798;
}
.Color_17{
	color: #ffbcdc;
}
.Color_18{
	color: #bccdff;
}
.Color_19{
	color: #fff5bc;
}
.Color_20{
	color: #ffbcc7;
}
