.With_Font_Box{
  font-family: "Amatic SC";
}

.With_Font{
  font-family: "Sue Ellen Francisco";
}

.Color_1{
	color: #fef200;
}
.Color_2{
	color: #fe96a1;
}
.Color_3{
	color: #ffffb0;
}
.Color_4{
	color: #c995ff;
}
.Color_5{
	color: #5dffb0;
}
.Color_6{
	color: #9abfcc;
}
.Color_7{
	color: #f58020;
}
.Color_8{
	color: #f9c508;
}
.Color_9{
	color: #e568a5;
}
.Color_10{
	color: #b2d9a0;
}
.Color_11{
	color: #85a5e0;
}
.Color_12{
	color: #a7d78d;
}
.Color_13{
	color: #45d2e4;
}
.Color_14{
	color: #e89c7c;
}
.Color_15{
	color: #fbad26;
}
.Color_16{
	color: #d95fd1;
}
.Color_17{
	color: #89ffac;
}
.Color_18{
	color: #7f3cff;
}
.Color_19{
	color: #35b664;
}
.Color_20{
	color: #d0d0c4;
}
.Color_21{
	color: #ff867b;
}
.Color_22{
	color: #f37022;
}
.Color_23{
	color: #ff00ff;
}
.Color_24{
	color: #41ffd8;
}
.Color_25{
	color: #7f6fff;
}
.Color_26{
	color: #00964e;
}
.Color_27{
	color: #0079e6;
}
.Color_28{
	color: #ff96e0;
}
.Color_29{
	color: #f04e37;
}
.Color_30{
	color: #e80095;
}
.Color_31{
	color: #9bffe3;
}
.Color_32{
	color: #795ea5;
}
.Color_33{
	color: #5de300;
}
.Color_34{
	color: #0023ff;
}
.Color_35{
	color: #cc022f;
}
.Color_36{
	color: #ed1b24;
}
.Color_37{
	color: #b81b8b;
}
.Color_38{
	color: #00bfff;
}
.Color_39{
	color: #ffd4da;
}
.Color_40{
	color: #1fe29a;
}
.Color_41{
	color: #81e4e8;
}
.Color_42{
	color: #610d36;
}
.Color_43{
	color: #bf2734;
}
.Color_44{
	color: #6a2c90;
}
.Color_45{
	color: #2099d6;
}
.Color_46{
	color: #d8cab4;
}
.Color_47{
	color: #008fa3;
}
.Color_48{
	color: #56545c;
}
.Color_49{
	color: #ffef97;
}
.Color_50{
	color: #891319;
}
.Color_51{
	color: #472d8f;
}
.Color_52{
	color: #1969b0;
}
.Color_53{
	color: #ffffff;
}
.Color_54{
	color: #006a7b;
}
.Color_55{
	color: #61ed37;
}
.Color_56{
	color: #059457;
}
