.upload {
  padding: 30px;
  position: relative;
}

.success {
  position: absolute;
  top: 30px;
  opacity:0;
  display:none;
  color:#44E364;
}

.error {
  position: absolute;
  top: 30px;
  opacity:0;
  display:none;
  color:#E34444;
}